.news {
    margin: 1rem auto;
    padding: 2rem;
    width: 95%;
    max-width: 20rem;
  }

  @media only screen and (max-width: 400px) {
    .news {
      max-width: 10rem;
    }
  }
.news img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto;
}